<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
    <h1>List of recipes</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Description</th>
            <th>Preparation time</th>
            <th>Cook time</th>
            <th>Servings</th>
            <th>Source</th>
            <th>Url</th>
            <th>Directions</th>
            <th>Difficulty</th>
            <th>Ingredients</th>
            <th>Notes</th>
            <th>Categories</th>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}">1</td>
                <td th:text="${recipe.description}">desc</td>
                <td th:text="${recipe.prepTime}">prep time</td>
                <td th:text="${recipe.cookTime}">cook time</td>
                <td th:text="${recipe.servings}">servings</td>
                <td th:text="${recipe.source}">source</td>
                <td th:text="${recipe.url}">rul</td>
                <td th:text="${recipe.directions}">directions</td>
                <td th:text="${recipe.difficulty}">difficulty</td>
                <td th:text="${recipe.notes}">notes</td>
            </tr>
        </tbody>
    </table>
</body>
</html>